* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    padding: 8px;
    font-size: 14px;
}

body {
    font-family: Arial, sans-serif;
    line-height: 2;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

h1 {
    display: inline-block;
    font size: 32px;
    padding; 5px
    border: 3px

}